.svg-App-Store-Badge-dims {
    width: 135px;
    height: 40px;
}

.svg-Google-Play-Badge-dims {
    width: 135px;
    height: 40px;
}

.svg-cavichki-dims {
    width: 25px;
    height: 20px;
}

.svg-header-slider-decor-dims {
    width: 1440px;
    height: 35px;
}

.svg-icon-call-dims {
    width: 20px;
    height: 20px;
}

.svg-icon-facebook-dims {
    width: 15px;
    height: 30px;
    fill: $accentColor;
}

.svg-icon-instagram-dims {
    width: 30px;
    height: 30px;
    fill: $accentColor;
}

.svg-icon-location-dims {
    width: 18px;
    height: 20px;
}

.svg-icon-message-dims {
    width: 20px;
    height: 18px;
}

.svg-icon-search-dims {
    width: 21px;
    height: 20px;
}

.svg-icon-youtube-dims {
    width: 25px;
    height: 30px;
    fill: $accentColor;
}

.svg-logo-dims {
    width: 185px;
    height: 44px;
}

.svg-logo-footer-dims {
    width: 119px;
    height: 28px;
}

.svg-min-icon-insta-dims {
    width: 24px;
    height: 25px;
}

.svg-min-icon-twitter-dims {
    width: 24px;
    height: 25px;
}

.svg-min-icon-web-dims {
    width: 24px;
    height: 25px;
}

.svg-min-icon-youtube-dims {
    width: 24px;
    height: 25px;
}

